<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>{% block title %} {% endblock title %}</title>
    {% block head %} {% endblock head %}
    <style>
        .navbar {
            background-color: transparent;
        }
    </style>
</head>
<body>
    <nav class="navbar flex items-center justify-between bg-transparent p-2 text-gray-800">
        <div class="flex items-center flex-shrink-0 mr-6">
            <span class="font-semibold text-xl tracking-tight">SarcasticBot</span>
        </div>
        <div class="flex">
            <div class="flex">
                <a href="{% url 'index' %}" class="text-gray-800 hover:bg-gray-700 hover:text-white px-2 py-1 text-sm font-medium">Home</a>
                <a href="{% url 'chat' %}" class="text-gray-800 hover:bg-gray-700 hover:text-white px-2 py-1 text-sm font-medium">Sarcastic Chat</a>
                <a href="{% url 'translate' %}" class="text-gray-800 hover:bg-gray-700 hover:text-white px-2 py-1 text-sm font-medium">Shakespearean Translate</a>
            </div>
    </nav>
    {% block content %} {% endblock content %}
</body>
</html>